:root {
  /* Colors */
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --white: #ffffff;
  --green-500: #3d8168;
  --green-700: #1a4032;
  /* Typography */
  --text-preset-1: normal 700 2rem/1 "fraunces", serif;
  --text-preset-2: normal 700 0.875rem/1.1 "montserrat", sans-serif;
  --text-preset-3: normal 500 14px/1.6 "montserrat", sans-serif;
  --text-preset-4: normal 500 0.75rem/1.2 "montserrat", sans-serif;
  --text-preset-5: normal 500 0.8125rem/1.2 "montserrat", sans-serif;
  --direction: row;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21.875rem;
  height: 46.875rem;
  border-radius: 0.5rem;
  background-color: var(--white);
}

picture img {
  height: 342px;
  border-radius: 8px 8px 0 0;
}

.content {
  width: auto;
  height: 25.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  display: flex;
  height: 50px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-inline: 32px;
  padding-block: 16px;
  background-color: var(--green-500);
}

.btn:hover {
  background-color: var(--green-700);
  cursor: pointer;
}

/* Typography */
.catg {
  font: var(--text-preset-4);
  color: var(--grey);
  letter-spacing: 5px;
}

h1 {
  font: var(--text-preset-1);
  color: var(--black);
}

.desc {
  font: var(--text-preset-3);
  color: var(--grey);
}

.pact {
  font: var(--text-preset-1);
  color: var(--green-500);
}

.pant {
  font: var(--text-preset-5);
  color: var(--grey);
  text-decoration: line-through;
}

.add {
  font: var(--text-preset-2);
  color: var(--white);
}

@media (min-width: 37.5rem) {
  .card-component {
    /* display: flex; */
    flex-direction: row;
    width: 37.5rem;
    height: 28.5rem;
  }

  picture img {
    width: 18.75rem;
    height: 28.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .content {
    /* display: flex; */
    /* flex-direction: column; */
    height: 28.5rem;
  }
}
